extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
    
    if hint 
      a(href=`http://localhost:3000/cards/${number}?side=${link}`) Answer
    else 
      a(href=`http://localhost:3000/cards/${number}?side=${link}`) Question 